<div class="menu">
 <div class="container">
     <div class="homepage-left">
        <div class="inner-left">
             <h1>
                 Chocklat Burfee
             </h1>
             <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et in eligendi, quisquam id nobis rem obcaecati deserunt quasi voluptates minima.</h6>
             <form class="d-flex col-10">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>   
        </div>
     </div>
     <div class="hompage-right">
        <div class="img">
            <img src="../../../assets/image 1.png">
        </div>
     </div>
 </div>
</div>