.hompage {
    margin: 0px;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to right, #F1F2F5, rgba(55, 66, 228, 0.712));
    margin-top: -15px;
}
.hompage .container {
    height: 100%;
    display: flex;
}

 .hompage .container .color1 {
    width: 45%;
    height: 100%;
    margin: 40px;
    margin-top: 100px;
}

.hompage .container .color1 h1 {
    /* color: white; */
    font-size: 50px;
    font-family:cursive;
    font-style: unset;
}

.hompage .container .color1 h5 {
   font-size: 20px;
   font-family: sans-serif;
   font-weight: 500;
   padding-top: 5px;
}

.hompage .container .color1 button {
   margin-top: 20px;
}

.hompage .container .color2{
    width: 55%;
    height: 100%;
} 

.hompage .container .color2 .img1 {
    width: 533px;
    height: 467px;
    background-size: cover;
}

.hompage .container .color2 .img1 img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    .hompage .container .color1 h1 {
        font-size: 35px;
    }
    .hompage .container .color1 h5 {
        font-size:  16px;
     }

     .hompage .container .color2 .img1 {
        width: 433px;
        height: 367px;
        background-size: cover;
    }

    .hompage .container .color2{
        width: 50%;
    } 

    .hompage .container .color1 {
        width: 50%;
        margin-top: 70px;
    }

    .hompage .container .color1 button {
        margin-top: 10px;
     }
     .hompage {
         height: 400px;
     }
}



@media screen and (max-width: 1000px) {
    .hompage .container .color1 h1 {
        font-size: 30px;
    }
    .hompage .container .color1 h5 {
        font-size:  14px;
     }

     .hompage .container .color2 .img1 {
        width: 333px;
        height: 267px;
        background-size: cover;
        margin-top: 40px;
    }

    .hompage .container .color2{
        width: 45%;
    } 

    .hompage .container .color1 {
        width: 55%;
    }

    .hompage .container .color1 button {
        margin-top: 8px;
     }
     .hompage {
         height: 350px;
     }
}


@media screen and (max-width: 800px) {
    .hompage .container .color1 h1 {
        font-size: 25px;
    }
    .hompage .container .color1 h5 {
        font-size:  12px;
     }

     .hompage .container .color2 .img1 {
        width: 270px;
        height: 200px;
        background-size: cover;
        margin-top: 40px;
    }

    .hompage .container .color2{
        width: 40%;
    } 

    .hompage .container .color1 {
        width: 60%;
    }

    .hompage .container .color1 button {
        margin-top: 8px;
     }
     .hompage {
         height: 300px;
     }
}

@media screen and (max-width: 650px) {
    .hompage .container .color2 .img1 {
        width: 200px;
        height: 150px;
        background-size: cover;
        margin-top: 70px;
    }
}
