<div class="hompage">
    <div class="container">
        <div class="color1">
            <h1>
                Faxriddin Shoping Center
            </h1>
            <h5>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sequi delectus eligendi ducimus quis possimus explicabo fugiat dolor et quisquam?
            </h5>
            <button type="button" class="btn btn-primary">Bog`lanish</button>
        </div>
        <div class="color2">
            <div class="img1">
                <img src="../../../../assets/image 3.png">
            </div>
        </div>
    </div>
</div>