<div class="menuing">
   <div class="container">
       <div class="menu-comp">
       <div class="menu-one">
             <div class="img-menu">
                 <img src="../../../assets/image 6.png">
             </div>
             <div class="text-menu">
                 <div class="inner">

                     <h1>Prannik</h1>
                     <h6>1500 * kg</h6>
                     <h6>karopkasi 45000</h6>
                     <form>
                         <input type="number" placeholder="soni">
                         <button type="submit" class="btn btn-primary d-flex mt-1">
                             <i class="fas fa-shopping-cart"></i>
                             <p>
                                 harid qilish
                                </p>
                            </button>
                        </form>
                    </div>
             </div>
       </div>
       <div class="menu-two">

       </div>
    </div>
       <div class="menu-three">

       </div>
   </div>
</div>